@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg: 0deg 0% 100%;
    --color-bg-surface: 0deg 0% 100%;
    --color-bg-surface-hover: 0deg 0% 98%;
    --color-bg-surface-active: 240deg 5% 96%;
    --color-bg-surface-brand: 158deg 64% 52%;
    --color-bg-surface-success: 142deg 77% 73%;
    --color-bg-surface-critical: 0deg 94% 82%;
    --color-bg-fill: 240deg 5% 96%;
    --color-bg-fill-hover: 0deg 0% 98%;
    --color-bg-fill-brand: 158deg 64% 52%;
    --color-bg-fill-brand-hover: 160deg 84% 39%;
    --color-bg-fill-success: 142deg 71% 45%;
    --color-bg-fill-success-hover: 142deg 76% 36%;
    --color-bg-fill-critical: 0deg 84% 60%;
    --color-bg-fill-critical-hover: 0deg 72% 51%;

    --color-text: 240deg 10% 4%;
    --color-text-secondary: 240deg 5% 26%;
    --color-text-muted: 240deg 5% 65%;
    --color-text-link: 217deg 91% 60%;
    --color-text-link-hover: 213deg 94% 68%;
    --color-text-brand: 160deg 84% 39%;
    --color-text-brand-hover: 158deg 64% 52%;
    --color-text-brand-on-bg-fill: 0deg 0% 100%;
    --color-text-success: 142deg 71% 45%;
    --color-text-success-hover: 142deg 69% 58%;
    --color-text-success-on-bg-fill: 0deg 0% 100%;
    --color-text-critical: 0deg 63% 31%;
    --color-text-critical-hover: 0deg 91% 71%;
    --color-text-critical-on-bg-fill: 0deg 0% 100%;

    --color-border: 240deg 6% 90%;
    --color-border-hover: 240deg 5% 84%;
    --color-border-secondary: 240deg 5% 96%;
    --color-border-focus: 213deg 94% 68%;
    --color-border-brand: 158deg 64% 52%;
    --color-border-success: 142deg 69% 58%;
    --color-border-critical: 0deg 91% 71%;

    --color-icon: 240deg 5% 26%;
    --color-icon-secondary: 240deg 4% 46%;
    --color-icon-muted: 240deg 5% 65%;
    --color-icon-brand: 160deg 84% 39%;
    --color-icon-success: 142deg 71% 45%;
    --color-icon-critical: 0deg 84% 60%;

    --font-family-sans: 'Inter Variable';

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;

    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 1.875rem;
    --font-size-4xl: 2.25rem;
    --font-size-5xl: 3rem;

    --font-line-height-4: 1rem;
    --font-line-height-5: 1.25rem;
    --font-line-height-6: 1.5rem;
    --font-line-height-7: 1.75rem;
    --font-line-height-8: 2rem;
    --font-line-height-9: 2.25rem;
    --font-line-height-10: 2.5rem;
    --font-line-height-none: 1;

    --font-letter-spacing-dense: -0.025em;
    --font-letter-spacing-normal: 0em;
  }

  body {
    @apply bg-primary text-primary;
  }
}
