@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg: 0deg 0% 100%;
    --color-bg-surface: 0deg 0% 100%;
    --color-bg-surface-hover: 0deg 0% 98%;
    --color-bg-surface-active: 240deg 5% 96%;
    --color-bg-surface-brand: 158deg 64% 52%;
    --color-bg-surface-success: 142deg 77% 73%;
    --color-bg-surface-critical: 0deg 94% 82%;
    --color-bg-fill: 240deg 5% 96%;
    --color-bg-fill-hover: 0deg 0% 98%;
    --color-bg-fill-brand: 158deg 64% 52%;
    --color-bg-fill-brand-hover: 160deg 84% 39%;
    --color-bg-fill-success: 142deg 71% 45%;
    --color-bg-fill-success-hover: 142deg 76% 36%;
    --color-bg-fill-critical: 0deg 84% 60%;
    --color-bg-fill-critical-hover: 0deg 72% 51%;

    --color-text: 240deg 10% 4%;
    --color-text-secondary: 240deg 5% 26%;
    --color-text-muted: 240deg 5% 65%;
    --color-text-link: 217deg 91% 60%;
    --color-text-link-hover: 213deg 94% 68%;
    --color-text-brand: 160deg 84% 39%;
    --color-text-brand-hover: 158deg 64% 52%;
    --color-text-brand-on-bg-fill: 0deg 0% 100%;
    --color-text-success: 142deg 71% 45%;
    --color-text-success-hover: 142deg 69% 58%;
    --color-text-success-on-bg-fill: 0deg 0% 100%;
    --color-text-critical: 0deg 63% 31%;
    --color-text-critical-hover: 0deg 91% 71%;
    --color-text-critical-on-bg-fill: 0deg 0% 100%;

    --color-border: 240deg 6% 90%;
    --color-border-hover: 240deg 5% 84%;
    --color-border-secondary: 240deg 5% 96%;
    --color-border-focus: 213deg 94% 68%;
    --color-border-brand: 158deg 64% 52%;
    --color-border-success: 142deg 69% 58%;
    --color-border-critical: 0deg 91% 71%;

    --color-icon: 240deg 5% 26%;
    --color-icon-secondary: 240deg 4% 46%;
    --color-icon-muted: 240deg 5% 65%;
    --color-icon-brand: 160deg 84% 39%;
    --color-icon-success: 142deg 71% 45%;
    --color-icon-critical: 0deg 84% 60%;
  }

  body {
    @apply bg-primary text-primary;
  }
}
